body {
  min-width: 320px; }

header {
  display: block; }
  header nav {
    position: relative;
    background-color: #373c3f;
    height: 37px;
    font-family: 'Montserrat', sans-serif; }
    header nav .nav-name {
      max-width: 300px;
      font-size: 12px;
      margin-left: 18px;
      padding-top: 10px;
      color: white; }
    header nav .nav-menu {
      display: flex;
      align-items: center;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 3;
      cursor: pointer;
      background-color: #202529;
      color: white;
      width: 41px;
      height: 100%; }
      header nav .nav-menu i {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%; }
      header nav .nav-menu-close {
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
        cursor: pointer;
        background-color: #202529;
        color: white;
        width: 41px;
        height: 100%; }
        header nav .nav-menu-close i {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 22px;
          width: 100%; }
    header nav .menu-list {
      display: none;
      cursor: pointer;
      z-index: 4;
      margin-top: 12px;
      position: absolute;
      right: 0; }
      header nav .menu-list div {
        display: flex;
        align-items: center;
        padding-left: 10px;
        font-size: 10px;
        background-color: #f3f3f3;
        width: 172px;
        height: 32px;
        border-bottom: 0.5px #cbcbcb solid; }
        header nav .menu-list div span {
          position: relative;
          left: 3px;
          top: 2px; }
        header nav .menu-list div:hover {
          background-color: #cbcbcb; }
      header nav .menu-list.active {
        display: block; }
  header .main-title {
    background: url("../img/header-fon.png");
    width: 100%;
    height: 173px; }
    header .main-title .title {
      padding-top: 14px;
      padding-left: 20px;
      font-size: 16px;
      font-weight: bold;
      color: white; }
      header .main-title .title div:nth-child(2) {
        padding-top: 4px; }
    header .main-title .main-url {
      padding-top: 7px;
      padding-left: 20px;
      font-size: 14px;
      font-weight: bold;
      color: #a6d6e0; }

.wrapper-products {
  margin-top: 4px; }
  .wrapper-products .product {
    display: flex;
    align-items: center;
    width: 100%;
    height: 75px;
    margin-top: 2px; }
    .wrapper-products .product .title {
      color: white;
      font-size: 20px;
      width: 249px;
      height: 100%; }
      .wrapper-products .product .title.pizza {
        background: url("../img/pizza-fon.png") -21px 87px;
        height: 75px; }
        .wrapper-products .product .title.pizza div {
          font-weight: bold;
          padding-top: 23px;
          padding-left: 63px; }
      .wrapper-products .product .title.salad {
        background: url("../img/salads-fon.png") 0 86px;
        height: 75px; }
        .wrapper-products .product .title.salad div {
          font-weight: bold;
          padding-top: 25px;
          padding-left: 74px; }
      .wrapper-products .product .title.dessert {
        background: url("../img/desserts-fon.png") 0 -27px;
        height: 75px; }
        .wrapper-products .product .title.dessert div {
          font-weight: bold;
          padding-top: 24px;
          padding-left: 83px; }
    .wrapper-products .product .btn-info {
      cursor: pointer;
      width: 71px;
      background-color: #acd8ad;
      height: 100%; }
      .wrapper-products .product .btn-info i {
        font-size: 13px;
        color: white;
        padding-left: 30px;
        padding-top: 29px; }
      .wrapper-products .product .btn-info:hover {
        background-color: #7aa67b; }

.wrapper-menu .wrapper-title {
  text-transform: uppercase;
  font-size: 20px;
  color: #202529;
  padding-left: 8px;
  padding-top: 18px; }

.wrapper-menu .wrapper-description {
  padding-left: 10px;
  font-size: 10px;
  color: #cbccce; }

.wrapper-menu .menu-title {
  height: 37px;
  margin-top: 10px;
  background-color: #3f4043; }
  .wrapper-menu .menu-title div {
    font-size: 20px;
    color: #acd8ad;
    text-transform: uppercase;
    padding-left: 18px;
    padding-top: 6px; }
  .wrapper-menu .menu-title.second {
    background-color: #acd8ad;
    margin-top: 29px; }
    .wrapper-menu .menu-title.second div {
      font-size: 20px;
      color: white;
      text-transform: uppercase;
      padding-left: 18px;
      padding-top: 6px; }

.wrapper-menu .list-products {
  padding-left: 17px; }
  .wrapper-menu .list-products .title {
    position: relative;
    width: 100%; }
    .wrapper-menu .list-products .title div {
      font-size: 15px;
      text-transform: uppercase;
      color: #373c3f;
      margin-top: 15px; }
    .wrapper-menu .list-products .title .w640, .wrapper-menu .list-products .title .w980, .wrapper-menu .list-products .title .w1200 {
      display: none; }
    .wrapper-menu .list-products .title img {
      position: absolute;
      top: -4px;
      right: 17px; }
    .wrapper-menu .list-products .title.second {
      padding-top: 5px; }
      .wrapper-menu .list-products .title.second img {
        position: absolute;
        top: 17px;
        right: 22px; }
    .wrapper-menu .list-products .title.cup {
      padding-left: 2px;
      padding-top: 1px; }
      .wrapper-menu .list-products .title.cup img {
        position: absolute;
        top: 13px;
        right: 17px; }
  .wrapper-menu .list-products .product-name {
    color: #373c3f;
    position: relative;
    font-weight: bold;
    font-size: 13px; }
    .wrapper-menu .list-products .product-name .title {
      padding-top: 18px;
      padding-left: -2px;
      font-weight: bold;
      font-size: 13px; }
    .wrapper-menu .list-products .product-name .price {
      position: absolute;
      right: 16px;
      top: 17px;
      font-weight: bold;
      font-size: 14px; }
    .wrapper-menu .list-products .product-name .description {
      padding-top: 6px;
      font-size: 8.5px; }
    .wrapper-menu .list-products .product-name.second {
      margin-top: -10px; }

footer {
  margin-top: 48px;
  width: 100%;
  height: 55px;
  background-color: #acd8ad; }
  footer div {
    padding-top: 4px;
    padding-left: 5px;
    font-size: 14px;
    color: white;
    text-align: center; }
    footer div.second-line {
      padding-top: 1px;
      padding-left: 2px; }

@media (min-width: 321px) and (max-width: 640px) {
  body {
    min-width: 640px; }
  header nav {
    height: 74px; }
    header nav .nav-name {
      font-size: 24px;
      margin-left: 38px;
      padding-top: 26px; }
    header nav .nav-menu {
      width: 82px; }
      header nav .nav-menu i {
        font-size: 30px; }
      header nav .nav-menu-close {
        width: 82px; }
        header nav .nav-menu-close i {
          font-size: 30px; }
    header nav .menu-list {
      margin-top: 19px; }
      header nav .menu-list div {
        font-size: 20px;
        width: 311px;
        height: 69px; }
  header .main-title {
    background: url("../img/header-fon-640.png");
    height: 346px; }
    header .main-title .title {
      padding-top: 30px;
      padding-left: 38px;
      font-size: 36px; }
    header .main-title .main-url {
      padding-top: 22px;
      padding-left: 37px;
      font-size: 24px; }
  .wrapper-products .product {
    height: 150px; }
    .wrapper-products .product .title {
      font-size: 36px;
      width: 498px; }
      .wrapper-products .product .title.pizza {
        background: url("../img/pizza-fon-640.png") 0 160px;
        height: 150px; }
        .wrapper-products .product .title.pizza div {
          display: flex;
          align-items: center;
          justify-content: center;
          align-items: center;
          padding: 0;
          margin: 0;
          height: 100%; }
      .wrapper-products .product .title.salad {
        background: url("../img/salads-fon-640.png") 0 160px;
        height: 150px; }
        .wrapper-products .product .title.salad div {
          display: flex;
          align-items: center;
          justify-content: center;
          align-items: center;
          padding: 0;
          margin: 0;
          height: 100%; }
      .wrapper-products .product .title.dessert {
        background: url("../img/desserts-fon-640.png") 0 -27px;
        height: 150px; }
        .wrapper-products .product .title.dessert div {
          display: flex;
          align-items: center;
          justify-content: center;
          align-items: center;
          padding: 0;
          margin: 0;
          height: 100%; }
    .wrapper-products .product .btn-info {
      width: 142px;
      height: 150px; }
      .wrapper-products .product .btn-info i {
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        height: 100%; }
  .wrapper-menu .wrapper-title {
    font-size: 26px;
    padding-left: 21px;
    padding-top: 21px; }
  .wrapper-menu .wrapper-description {
    padding-left: 22px;
    font-size: 13px; }
  .wrapper-menu .menu-title {
    height: 75px; }
    .wrapper-menu .menu-title div {
      font-size: 26px;
      padding-left: 34px;
      padding-top: 23px; }
    .wrapper-menu .menu-title.second div {
      font-size: 26px;
      padding-left: 34px;
      padding-top: 23px; }
  .wrapper-menu .list-products {
    padding-left: 34px; }
    .wrapper-menu .list-products .title div {
      font-size: 25px;
      margin-top: 30px; }
    .wrapper-menu .list-products .title .w640 {
      display: inline; }
    .wrapper-menu .list-products .title .w320, .wrapper-menu .list-products .title .w980, .wrapper-menu .list-products .title .w1200 {
      display: none; }
    .wrapper-menu .list-products .title img {
      top: -9px;
      right: 36px; }
    .wrapper-menu .list-products .title.second img {
      top: 24px;
      right: 46px; }
    .wrapper-menu .list-products .title.cup img {
      top: 23px;
      right: 31px; }
    .wrapper-menu .list-products .title.cup2 img {
      top: 29px;
      right: 32px; }
    .wrapper-menu .list-products .product-name .title {
      font-weight: normal;
      font-size: 20px; }
    .wrapper-menu .list-products .product-name .price {
      right: 35px;
      top: 17px;
      font-size: 20px; }
    .wrapper-menu .list-products .product-name .description {
      font-weight: normal;
      padding-right: 36px;
      font-size: 10px; }
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 97px;
    margin-top: 117px;
    padding: 0; }
    footer div {
      padding: 0;
      margin: 0;
      font-size: 18px; }
      footer div.second-line {
        padding-top: 5px; } }

@media (min-width: 641px) and (max-width: 980px) {
  body {
    min-width: 980px; }
  header nav {
    position: relative;
    height: 96px; }
    header nav .nav-name {
      display: none; }
    header nav .nav-menu {
      display: none; }
      header nav .nav-menu-close {
        display: none; }
    header nav .nav-logo {
      position: absolute;
      top: 8px;
      right: 30px;
      background: url("../img/navigation-logo-980.png");
      width: 104px;
      height: 83px; }
    header nav .menu-list {
      display: flex;
      align-items: center;
      cursor: unset;
      margin: 0;
      width: 800px;
      height: inherit;
      position: unset; }
      header nav .menu-list div {
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 0;
        margin: 0;
        cursor: unset;
        font-size: 15px;
        text-transform: uppercase;
        background-color: inherit;
        border-bottom: none; }
        header nav .menu-list div span {
          cursor: pointer; }
        header nav .menu-list div:hover {
          background-color: initial; }
  header .main-title {
    background: url("../img/header-fon-980.png");
    width: 100%;
    height: 530px; }
    header .main-title .title {
      padding-top: 64px;
      padding-left: 30px;
      font-size: 54px; }
      header .main-title .title div:nth-child(2) {
        padding-top: 10px; }
    header .main-title .main-url {
      padding-top: 57px;
      padding-left: 30px;
      font-size: 34px; }
  .wrapper-products {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 6px; }
    .wrapper-products .product {
      height: 327px;
      width: 100%; }
      .wrapper-products .product .title {
        font-size: 38px;
        width: 100%;
        height: 100%; }
        .wrapper-products .product .title.pizza {
          background: url("../img/pizza-fon-980.png");
          height: 327px; }
          .wrapper-products .product .title.pizza div {
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            height: 100%;
            padding: 0;
            margin: 0; }
        .wrapper-products .product .title.salad {
          background: url("../img/salads-fon-980.png");
          height: 327px; }
          .wrapper-products .product .title.salad div {
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            height: 100%;
            padding: 0;
            margin: 0; }
        .wrapper-products .product .title.dessert {
          background: url("../img/desserts-fon-980.png");
          height: 327px; }
          .wrapper-products .product .title.dessert div {
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            height: 100%;
            padding: 0;
            margin: 0; }
      .wrapper-products .product .btn-info {
        display: none; }
  .wrapper-menu {
    position: relative; }
    .wrapper-menu .wrapper-title {
      font-size: 32px;
      padding-left: 30px;
      padding-top: 72px; }
    .wrapper-menu .wrapper-description {
      padding-left: 30px;
      font-size: 16px; }
    .wrapper-menu .menu-logo {
      position: absolute;
      top: 47px;
      right: 29px;
      width: 109px;
      height: 89px;
      background: url("../img/menu-logo-980.png"); }
    .wrapper-menu .row {
      display: flex;
      align-items: center;
      flex-direction: row;
      width: 100%; }
      .wrapper-menu .row .menu-title {
        display: flex;
        align-items: center;
        align-items: center;
        height: 75px;
        margin-top: 21px;
        padding: 0 0 0 18px;
        width: 490px; }
        .wrapper-menu .row .menu-title div {
          font-size: 32px;
          padding-left: 18px;
          padding-top: 6px; }
        .wrapper-menu .row .menu-title.second {
          margin-top: 23px;
          padding: 0 0 0 18px;
          width: 456px; }
          .wrapper-menu .row .menu-title.second div {
            font-size: 32px;
            padding-left: 18px;
            padding-top: 6px; }
      .wrapper-menu .row .list-products {
        padding-left: 19px; }
        .wrapper-menu .row .list-products .title div {
          font-size: 17px;
          margin-top: 31px; }
        .wrapper-menu .row .list-products .title .w320, .wrapper-menu .row .list-products .title .w640, .wrapper-menu .row .list-products .title .w1200 {
          display: none; }
        .wrapper-menu .row .list-products .title .w980 {
          display: block; }
        .wrapper-menu .row .list-products .title img {
          position: absolute;
          top: -14px;
          right: 14px; }
        .wrapper-menu .row .list-products .title.second {
          padding-top: 0; }
          .wrapper-menu .row .list-products .title.second img {
            position: absolute;
            top: -14px;
            right: 24px; }
        .wrapper-menu .row .list-products .title.cup {
          padding-left: 0;
          padding-top: 1px; }
          .wrapper-menu .row .list-products .title.cup img {
            position: absolute;
            top: 23px;
            right: 33px; }
        .wrapper-menu .row .list-products .title.cup2 {
          padding-left: 0;
          padding-top: 1px; }
          .wrapper-menu .row .list-products .title.cup2 img {
            position: absolute;
            top: 23px;
            right: 33px; }
        .wrapper-menu .row .list-products .product-name {
          font-size: unset; }
          .wrapper-menu .row .list-products .product-name .title {
            padding-top: 24px;
            font-size: 16px; }
          .wrapper-menu .row .list-products .product-name .price {
            right: 16px;
            top: 26px;
            font-weight: bold;
            font-size: 14px; }
          .wrapper-menu .row .list-products .product-name .price-col2 {
            right: 36px;
            top: 26px;
            font-weight: bold;
            font-size: 14px; }
          .wrapper-menu .row .list-products .product-name .description {
            padding-top: 10px;
            padding-right: 10px;
            font-size: 11px; }
          .wrapper-menu .row .list-products .product-name .description-col2 {
            padding-right: 34px;
            font-size: 11px; }
          .wrapper-menu .row .list-products .product-name.second {
            margin-top: -10px; }
  footer {
    position: relative;
    height: 97px; }
    footer .footer-logo {
      position: absolute;
      background: url("../img/navigation-logo-980.png") no-repeat;
      width: 104px;
      height: 83px;
      left: 30px;
      top: 8px; }
    footer .text {
      display: flex;
      align-items: center;
      padding: 0 0 0 420px;
      margin: 0;
      font-size: 22px;
      height: 100%; }
      footer .text div {
        padding: 0;
        margin: 0;
        font-size: 18px; }
        footer .text div.second-line {
          padding-left: 5px; } }

@media (min-width: 981px) {
  body {
    width: 1200px; }
  header nav {
    position: relative;
    height: 97px; }
    header nav .nav-name {
      display: none; }
    header nav .nav-menu {
      display: none; }
      header nav .nav-menu-close {
        display: none; }
    header nav .nav-logo {
      position: absolute;
      top: 8px;
      right: 30px;
      background: url("../img/navigation-logo-980.png");
      width: 104px;
      height: 83px; }
    header nav .menu-list {
      display: flex;
      align-items: center;
      cursor: unset;
      margin: 0;
      width: 800px;
      height: inherit;
      position: unset; }
      header nav .menu-list div {
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        color: white;
        padding: 0;
        margin: 0;
        cursor: unset;
        font-size: 15px;
        text-transform: uppercase;
        background-color: inherit;
        border-bottom: none; }
        header nav .menu-list div span {
          cursor: pointer; }
        header nav .menu-list div:hover {
          background-color: initial; }
  header .main-title {
    background: url("../img/header-fon-1200.png");
    width: 100%;
    height: 649px; }
    header .main-title .title {
      padding-top: 64px;
      padding-left: 30px;
      font-size: 62px; }
      header .main-title .title div:nth-child(2) {
        padding-top: 10px; }
    header .main-title .main-url {
      padding-top: 57px;
      padding-left: 30px;
      font-size: 38px; }
  .wrapper-products {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 6px; }
    .wrapper-products .product {
      height: 327px;
      width: 100%; }
      .wrapper-products .product .title {
        font-size: 43px;
        width: 100%;
        height: 100%; }
        .wrapper-products .product .title.pizza {
          background: url("../img/pizza-fon-1200.png");
          height: 327px; }
          .wrapper-products .product .title.pizza div {
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            height: 100%;
            padding: 0;
            margin: 0; }
        .wrapper-products .product .title.salad {
          background: url("../img/salads-fon-1200.png") 0 -65px;
          height: 327px; }
          .wrapper-products .product .title.salad div {
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            height: 100%;
            padding: 0;
            margin: 0; }
        .wrapper-products .product .title.dessert {
          background: url("../img/desserts-fon-1200.png");
          height: 327px; }
          .wrapper-products .product .title.dessert div {
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            height: 100%;
            padding: 0;
            margin: 0; }
      .wrapper-products .product .btn-info {
        display: none; }
  .wrapper-menu {
    position: relative; }
    .wrapper-menu .wrapper-title {
      font-size: 32px;
      padding-left: 30px;
      padding-top: 72px; }
    .wrapper-menu .wrapper-description {
      padding-left: 30px;
      font-size: 16px; }
    .wrapper-menu .menu-logo {
      position: absolute;
      top: 47px;
      right: 29px;
      width: 109px;
      height: 89px;
      background: url("../img/menu-logo-980.png"); }
    .wrapper-menu .row {
      display: flex;
      align-items: center;
      flex-direction: row;
      width: 100%; }
      .wrapper-menu .row .col {
        width: 600px; }
        .wrapper-menu .row .col .menu-title {
          display: flex;
          align-items: center;
          align-items: center;
          height: 75px;
          margin-top: 20px;
          padding: 0 0 0 18px;
          width: 600px; }
          .wrapper-menu .row .col .menu-title div {
            font-size: 32px;
            padding-left: 18px;
            padding-top: 6px; }
          .wrapper-menu .row .col .menu-title.second {
            height: 77px;
            margin-top: 23px;
            padding: 0 0 0 18px;
            width: 566px; }
            .wrapper-menu .row .col .menu-title.second div {
              font-size: 32px;
              padding-left: 18px;
              padding-top: 6px; }
        .wrapper-menu .row .col .list-products {
          padding-left: 19px; }
          .wrapper-menu .row .col .list-products .title div {
            font-size: 17px;
            margin-top: 31px; }
          .wrapper-menu .row .col .list-products .title .w320, .wrapper-menu .row .col .list-products .title .w640, .wrapper-menu .row .col .list-products .title .w1200 {
            display: none; }
          .wrapper-menu .row .col .list-products .title .w980 {
            display: block; }
          .wrapper-menu .row .col .list-products .title img {
            position: absolute;
            top: -14px;
            right: 14px; }
          .wrapper-menu .row .col .list-products .title.second {
            padding-top: 0; }
            .wrapper-menu .row .col .list-products .title.second img {
              position: absolute;
              top: -14px;
              right: 24px; }
          .wrapper-menu .row .col .list-products .title.cup {
            padding-left: 0;
            padding-top: 1px; }
            .wrapper-menu .row .col .list-products .title.cup img {
              position: absolute;
              top: 23px;
              right: 33px; }
          .wrapper-menu .row .col .list-products .title.cup2 {
            padding-left: 0;
            padding-top: 1px; }
            .wrapper-menu .row .col .list-products .title.cup2 img {
              position: absolute;
              top: 23px;
              right: 33px; }
          .wrapper-menu .row .col .list-products .product-name {
            font-size: unset; }
            .wrapper-menu .row .col .list-products .product-name .title {
              padding-top: 24px;
              font-size: 16px; }
            .wrapper-menu .row .col .list-products .product-name .price {
              right: 16px;
              top: 26px;
              font-weight: bold;
              font-size: 14px; }
            .wrapper-menu .row .col .list-products .product-name .price-col2 {
              right: 36px;
              top: 26px;
              font-weight: bold;
              font-size: 14px; }
            .wrapper-menu .row .col .list-products .product-name .description {
              padding-top: 10px;
              padding-right: 10px;
              font-size: 11px; }
            .wrapper-menu .row .col .list-products .product-name .description-col2 {
              padding-right: 10px;
              font-size: 11px; }
            .wrapper-menu .row .col .list-products .product-name.second {
              margin-top: -11px; }
  footer {
    position: relative;
    height: 97px; }
    footer .footer-logo {
      position: absolute;
      background: url("../img/navigation-logo-980.png") no-repeat;
      width: 104px;
      height: 83px;
      left: 30px;
      top: 8px; }
    footer .text {
      display: flex;
      align-items: center;
      padding: 0 0 0 640px;
      margin: 0;
      font-size: 22px;
      height: 100%; }
      footer .text div {
        padding: 0;
        margin: 0;
        font-size: 18px; }
        footer .text div.second-line {
          padding-left: 5px; } }

a {
  text-decoration: none;
  color: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif; }
