// width
$media: screen;
$smallMobileWidth: 320px;
$largeMobileWidth: 640px;
$tabletWidth: 980px;
$laptopWidth: 1200px;

// color
$gray: #373c3f;
$black: #202529;
$green: #acd8ad;
$blue: #accfd2;
$menuList-white: #f3f3f3;
$menuList-gray: #cbcbcb;
